.container{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 50%;
}

.row{
    max-width: fit-content;
    width: 104rem;
}

.card{
    text-align: center;
    width: 13rem;
    max-width: 12.1%;
    font-size: 3rem;
    margin: 0.1rem 0.1rem;
}

.red .card{
    background-color: rgba(255, 0, 0, 0.733);
}

.blue .card{
    background-color: rgba(0, 0, 255, 0.733)
}

.yellow .card{
    background-color: rgba(214, 211, 21, 0.733);
}